/* todo list items */
.collection .collection-item {
  padding-left: 40px;    
}

.collection-item .badge-remove-item {
  right: 100%;
  left: 0;
  margin-top: 7px;
}

.collection-item .item-name {
  padding: 10px 0;
}

/* inline Edit vendor */
.collection-item .badge-inlineEdit-item {
  right: 0;
  margin-top: 50px;
}

.badge-inlineEdit-item .cancel {
  margin-left: 15px;
}