/* todo list items */
.collection .collection-item {
    padding-left: 40px;    
}

.collection-item .badge-remove-item {
    right: 100%;
    left: 0;
    margin-top: 7px;
}

.collection-item .item-name {
    padding: 10px 0;
}

/* inline Input Edit */
.collection-item .badge-inlineEdit-item {
    right: 0;
    margin-top: 50px;
}

.badge-inlineEdit-item .cancel {
    margin: 0 15px;
}

/* Modal remove Todo Items*/
#modal-remove-item .modal-close {
  margin-left: 5px;
}